@{
    ViewData["title"] = "Almacenamiento";
}


<div class="title-in">
    <p>Almacenamiento</p>
    <div class="luz"></div>
</div>


<table class="container-table">
    <tbody>
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd2.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd3.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <!--SECCION 2 TABLE-->
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd4.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd5.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd6.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd7.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd8.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd9.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd10.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd11.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/ssd12.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>
    </tbody>
    
</table>