@{
    ViewData["title"] = "Fuentes de Poder";
}


<div class="title-in">
    <p>Fuentes de Poder</p>
    <div class="luz"></div>
</div>

<table class="container-table">
    <tbody>
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder2.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder3.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <!--SECCION 2 TABLE-->
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder4.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder5.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder6.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder7.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder8.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder9.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder10.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder11.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown/fuentepoder12.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>
    </tbody>
    
</table>