@model ProveedoresModel;
@{
    ViewData["Title"] = "Borrar el proveedor";
}

  <link rel="stylesheet" href="~/css/borrar.css">


<div class="container-borrar">
    <div class="mac">
      <img src="~/imgadmin/red.svg" alt="">
      <img src="~/imgadmin/orange.svg" alt="">
      <img src="~/imgadmin/green.svg" alt="">
    </div>

    <div class="content-borrar">
      <h1>¿Estas seguro de que deseas borrar al proveedor @Model.Name ?</h1>
    </div>



<form asp-controller="Proveedor" asp-action="ProveedoresDeleted">
<button type="submit" class ="boton">Borrar</button>
<button class="boton" asp-asp-controller="Proveedor" asp-action="ProveedoresList" >Regresar </button>
</form>


