
@{
    ViewData["title"] = "Lista de Productos";
}

<link rel="stylesheet" href="~/css/carrito.css">

    <div class="container-carro">
        <div class="container-titulo">
            <h1>Lista de Productos</h1>
        </div>
        
    </div>