@model ComponentesModel;
@{
    ViewData["Title"] = "Alta de Componentes";
}
<link rel="stylesheet" href="~/css/añadir.css">

<div asp-validation-summary="All" class="text-danger"></div>


<div class="container-addd">

  <div class="content-addd">
    <h1 class="">Alta de Componentes</h1>
  </div>

 <form asp-controller="Componente" asp-action="ComponentesAdd">
 <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="Name" placeholder="Escriba el nombre del componente:" />
    </div>

      <div class="mb-3">
      <label for="nombre" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Escriba la descripcón del componente:" />
      </div>

      <!---->

     <div class="mb-3">
      <label for="nombre" class="form-label">Precio</label>
        <input type="text" class="form-control" id="Precio" name="Precio" placeholder="Escriba el precio del componente:" />
    </div>
     <div class="mb-3">
      <label for="nombre" class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="Cantidad" name="Cantidad" placeholder="Escriba la cantidad del componente:" />
    </div>
    <button  class="boton">Guardar</button>
    <button asp-controller="Componente" asp-action="ComponentesList"class="boton">Regresar</button>
 </form>
</div>