@model ComponentesModel;
@{
    ViewData["Title"] = "Borrar el componente";
}
<link rel="stylesheet" href="~/css/borrar.css">
 

<div class="container-borrar">
    <div class="mac">
      <img src="~/imgadmin/red.svg" alt="">
      <img src="~/imgadmin/orange.svg" alt="">
      <img src="~/imgadmin/green.svg" alt="">
    </div>
    <div class="content-borrar">
        <h1>¿Estas seguro de que deseas borrar el componente @Model.Name?</h1>
    </div>
    

<form asp-controller="Componente" asp-action="ComponentesDeleted">
<button type="submit" class ="boton">Borrar</button>
<button class="boton" asp-asp-controller="Componente" asp-action="ComponentesList" >Regresar </button>
</form>
</div>


