@model ComponentesModel;
@{
    ViewData["Title"] = "Editar el componente";
}

<link rel="stylesheet" href="~/css/editar.css">

<div class="alertas">
<div asp-validation-summary="All" class="text-danger "></div>
</div>
 <form class="formu" asp-controller="Componente" asp-action="ComponentesEdit">
      <div class="container-editar">
          <h1 class="">Editar componente: @Model.Name</h1>
      </div>
 <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="Name" placeholder="Escriba el nombre del componente:" />
    </div>
      <div class="mb-3">
      <label for="nombre" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Escriba la descripcón del componente:" />
    </div>
     <div class="mb-3">
      <label for="nombre" class="form-label">Precio</label>
        <input type="text" class="form-control" id="Precio" name="Precio" placeholder="Escriba el precio del componente:" />
    </div>
     <div class="mb-3">
      <label for="nombre" class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="Cantidad" name="Cantidad" placeholder="Escriba la cantidad del componente:" />
    </div>
    <button type="submit" class="boton">Guardar</button>
    <button asp-controller="Componente" asp-action="ComponentesList" class="boton mb-3"> Regresar</button>
 </form>