@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css">

<div id="carouselExampleRide" class="carousel slide text-center" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imgUsuario/slider1.png" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
            <img src="~/imgUsuario/slider2.png" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
            <img src="~/imgUsuario/slider3.png" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- IMAGENES POPULARES DE LOS COMPONENTES-->
<div class="title-in">
    <p>Productos Populares</p>
    <div class="luz"></div>
</div>



<table class="container-table">
    <tbody>
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgUsuario/teclado1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgUsuario/teclado1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgUsuario/teclado1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <!--SECCION 2 TABLE-->
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgUsuario/teclado1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgUsuario/teclado1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgUsuario/teclado1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr></tr>
    </tbody>
</table>


<!--MARCAS ASOCIADAS-->

<div class="title-marcas">
    <p class="title-ma">
        Marcas Asociadas
    </p>
</div>

<div class="luz2"></div>


<marquee  behavior="scroll" direction="left" scrollamount="15px" loop="infinite">
   
        <div class="content-mq1">
            <img class="marca1" src="~/imgUsuario/amd.png" alt="">
            <img class="marca1" src="~/imgUsuario/asus.png" alt="">
            <img class="marca1" src="~/imgUsuario/nvidia.png" alt="">
            <img class="marca1" src="~/imgUsuario/tuf.png" alt="">
            <img class="marca1" src="~/imgUsuario/intel.png" alt="">
            <img class="marca1" src="~/imgUsuario/amd.png" alt="">
        </div>
</marquee>




