body{
    background-color: white;
    background: linear-gradient(50deg,#4f0312,#a45213,rgb(133, 11, 11),rgb(91, 22, 5));
    
    background-size: 300% 100%;
    animation: gradient 20s ease infinite; 
}


@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.container-borrar{
    margin: 0 auto;
    width: 50%;
    background-color: white;
    border-radius: 10px;
}

.mac{
    border-radius: 10px 10px 0px 0px;
    margin-top: 200px;
    background-color: rgb(190, 196, 198);
}

.mac img{
    margin-left: 5px;
    width: 12px;
    height: 12px;
}

.content-borrar{
    padding: 10px;
    
    
}

.content-borrar h1{
    text-align: center;
    color: black;
    font-size: 30px;
}

form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton{
    padding: 5px;
    background-color: rgb(190, 196, 198);
    color:black;
    border: 0;
    margin: 5px;
    border-radius: 5px;

}