html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  margin-bottom: 60px;
  background-color:#0c2239;
  
}



.nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  height: 75px;
  background-color:orange;
  box-shadow: 3px 3px 10px rgb(170, 117, 20);
  box-sizing: border-box;
}

.containerr{
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.containerr img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-left: 10px;
}

.containerr a {
  color: white;
}

.logo-title{
  font-size: 20px;
  position: relative;
  text-decoration: none;
}


.dropdown-center{
  margin-left:30px;
  margin-right:0px;
  border-radius: 10px;
}

.dropdown-center button{
  border: 2px solid rgb(229, 232, 234);
  color: black;
}

.dropdown-center button:hover{
  background-color: rgb(22, 22, 78);
  color: white;
}

.dropdown-menu{
  background-color: #e5e5f0;
}

.dropdown-menu li a{
  text-align: center;
  color: #141414;
  
}


.container-LR{
  /* BOTONES DE INICIO Y REGISTRO SESION*/
  
  margin-left: 38%;
}

.container-LR a{
  font-size: 16px;
  color: white;
  position: relative;
  margin-left:10px;
  text-decoration: none;
}

.content-LR{
  border-radius: 5px;
  padding: 8px;
  background-color: rgb(22, 22, 78);
  box-shadow: 3px 3px 1px  rgb(31, 36, 103);
}

.content-LR:hover{
  box-shadow: 1px 1px 1px  rgba(31, 36, 103, 0.838);
  
}

.d-flex{
  margin-right: 5px;
}

.d-flex svg{
  width: 30px;
  height: 30px;
}