@model PerifericosModel

@{
    ViewData["Title"] = "Borrar la categoría del Periferico";
}
<link rel="stylesheet" href="~/css/borrar.css">

<div class="container-borrar">
    <div class="mac">
        <img src="~/imgadmin/red.svg" alt="">
        <img src="~/imgadmin/orange.svg" alt="">
        <img src="~/imgadmin/green.svg" alt="">
    </div>
    <div class="content-borrar">
        <h1>¿Estas seguro de que deseas borrar el periferico @Model.Name ?</h1>
    </div>

    <form asp-asp-controller="Perifericos" asp-action="PerifericosDeleted">
    <button type="submit" class="boton">Borrar</button>
    <button class="boton" asp-action="PerifericosList" asp-controller="Perifericos">Cancelar</button>
    </form>
</div>



