@model PerifericosModel

@{
    ViewData["Title"] = "Alta de Perifericos";
}
<link rel="stylesheet" href="~/css/añadir.css">

<div asp-validation-summary="All" class="text-danger"></div>

<div class="container-addd">
    <div class="content-addd">
        <h1>Alta de Perifericos</h1>
    </div>

    <form asp-action="PerifericosAdd" asp-controller="Perifericos">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Name" placeholder="Nombre del Periferico">
        <label asp-for="Name">Nombre del Periferico</label>
    </div>
    <div class="form-floating mb-3">
        <input type="textarea" class="form-control" asp-for="Tipo" rows="5">
        <label asp-for="Tipo">Tipo</label>
    </div>
    <div class="form-floating mb-3">
        <input type="textarea" class="form-control" asp-for="precio" rows="5">
        <label asp-for="precio">Precio</label>
    </div>
    <button class="boton">Guardar</button>
    <button class="boton" asp-action="PerifericosList" asp-controller="Perifericos">Regresar</button>
    </form>
</div>



