@model RolViewModel

@{
    ViewData["Title"] = "Borrar Roles de Usuario";
}
    <link rel="stylesheet" href="~/css/borrar.css">

<div class="container-borrar">
    <div class="mac">
        <img src="~/imgadmin/red.svg" alt="">
        <img src="~/imgadmin/orange.svg" alt="">
        <img src="~/imgadmin/green.svg" alt="">
    </div>
    <div class="content-borrar">
        <h1>¿Estas seguro que deseas borrar el Rol de usario de @Model.Name?</h1>
    </div>

    <form asp-action="RolDeleted" asp-controller="Rol">
        <button class="boton">Guardar</button>
        <button class="boton" asp-action="RolList" asp-controller="Rol">Regresar</button>
    </form>
</div>


