@model RolViewModel

@{
    ViewData["Title"] = "Editar Roles de Usuario";
}
<link rel="stylesheet" href="~/css/editar.css">



<form class="formu" asp-action="RolEdit" asp-controller="Rol">

    <div class="mb-3">
        <h1 class="">Editar rol de: @Model.Name</h1>
        <input type="text" class="form-control" asp-for="Name" placeholder="Nombre del Rol">
    </div>

    <button class="boton">Guardar</button>
    <button class="boton mb-3" asp-action="RolList" asp-controller="Rol">Regresar</button>
</form>
