@model List<RolViewModel>
@{
    ViewData["Title"] = "Lista de Roles de Usuario";
    int numero = 0;
}
<link rel="stylesheet" href="~/css/views.css">

<div class="container-tablas">
    <div class="tabla-titul">
        <h1>Listado de Roles de Usuarios</h1>
        <a asp-action="RolAdd" asp-asp-controller="Rol">+Añadir</a>
    </div>

    <table class="tablass table table-borderless table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Acciones</th>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var rol in Model)
            {
                {
                    numero++;
                }
                <tr>
                    <td>
                        <a class="btn" asp-action="RolEdit" asp-controller="Rol"
                            asp-route-id="@rol.Id">
                            <img class="editarr" src="~/imgadmin/edit.svg" alt="">
                        </a>
                        <a class="btn" asp-action="RolDeleted" asp-controller="Rol"
                            asp-route-id="@rol.Id">
                            <img class="editarr" src="~/imgadmin/basura.svg" alt="">
                        </a>
                    </td>
                    <th scope="row">@numero</th>
                    <td>@rol.Name</td>
                    
                </tr>

            }
        </tbody>
    </table>



</div>
