@{
    ViewData["title"] = "Monitores";
}


<div class="title-in">
    <p>Monitores</p>
    <div class="luz"></div>
</div>

<table class="container-table">
    <tbody>
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor1.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor2.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor3.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <!--SECCION 2 TABLE-->
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor4.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor5.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor6.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor7.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor8.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor9.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor10.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor11.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/monitor12.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>
    </tbody>
    
</table>