@{
    ViewData["title"] = "Teclados";
}


<div class="title-in">
    <p>Teclados</p>
    <div class="luz"></div>
</div>

<table class="container-table">
    <tbody>
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado1.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado2.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado3.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <!--SECCION 2 TABLE-->
        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado4.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado5.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado6.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado7.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado8.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado9.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>

        <tr>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado10.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado11.png" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
            <td class="content-table">
                <img class="cont-img" src="~/imgDropdown2/teclado12.jpg" alt="" class="">
                <p class="text-if">Teclado Gamer DRAGONBORN K630RGB Blue / Negro / Alambrico / Led RGB / Ingles / Tenkeyless / Switch Redragon Blue / Botones Multimedia (FN+)</p>
                <a class="btn2"  href="">Comprar</a>
                <a class="btn2"  href="">Agregar al Carrito</a>
            </td>
        </tr>
    </tbody>
    
</table>